.section__subtitle {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 100%;
  color: rgba(28, 28, 28, .5);
}

.section__subtitle:nth-child(n + 3) {
  margin: 10px 0 10px 0;
  padding: 10px 0 0 0;
  border-top: 1px dotted rgba(0, 0, 0, .2);
}
