.hard-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  /* display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-flow: row dense;
  flex-wrap: wrap;
  justify-content: space-around; */
  column-gap: 10px;
  row-gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}
