.menu__item {
  box-sizing;
  font-size: 150%;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 3px dashed rgba(0, 0, 0, 0);
  transition: color .2s linear, border-bottom .2s linear;
}

.menu__item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .7);
  border-bottom: 3px dashed rgba(255, 255, 255, .7);
}

@media screen and (max-width: 767px) {
  .menu__item {
    font-size: 130%;
  }
}
