.page {
  background-color: white;
  margin: 10px auto;
  padding: 10px 1% 10px;
  max-width: 880px;
  min-width: 320px;
  border: 1px solid rgba(0, 0, 0, .07);
  border-radius: 4px;
  box-sizing: border-box;

  position: relative;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas:
    "header content"
    "footer footer";

  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.15;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) {
  .page {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "footer";
  }
}
