<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="CV or resume Timur Gainutdinov">
  <link rel="stylesheet" href="../static/pages/index.css">
  <title>Timur - web developer</title>
</head>

<body class="page">

  <header class="header">
    <figure class="bio">
      <img class="bio__photo" src="../static/images/TM.jpg" alt="Timur's photo">
      <figcaption>
        <h1 class="bio__name">Timur Gainutdinov</h1>
      </figcaption>
      <section aria-label="Contacts">
        <ul class="contacts">
          <li class="contacts__item">
            <a class="section__link" href="https://t.me/timur_gain"
               target="_blank">Telegram</a>
          </li>
          <li class="contacts__item">
            <a class="section__link" href="https://www.linkedin.com/in/timur-gainutdinov/"
               target="_blank">LinkedIn</a>
          </li>
          <li class="contacts__item">
            <a class="section__link" href="https://github.com/timurgain"
               target="_blank">GitHub</a>
          </li>
          <li class="contacts__item">timur.gain@gmail.com</li>
        </ul>
      </section>
    </figure>


    <section class="section">
      <h2 class="section__title">Hard skills</h2>
      <ul class="hard-skills">
        <li class="hard-skills__item">Python</li>
        <li class="hard-skills__item">Django</li>
        <li class="hard-skills__item">REST&nbsp;API</li>
        <li class="hard-skills__item">PostgreSQL</li>
        <li class="hard-skills__item">Redis</li>
        <li class="hard-skills__item">Docker</li>
        <li class="hard-skills__item">CSS</li>
        <li class="hard-skills__item">HTML</li>
        <li class="hard-skills__item">JavaScript</li>
        <li class="hard-skills__item">Git</li>
        <!-- <li class="hard-skills__item">Ubuntu</li> -->
      </ul>
    </section>

    <section class="section">
      <h2 class="section__title">Education</h2>
      <p class="section__subtitle">I study at Yandex School of Data Analysis (Yandex.Practicum),
         here're the subjects:</p>
      <ul class="education">
        <li class="education__item">
          <p class="education__subject">Node.js, express.js</p>
          <p class="education__date">April 2023</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Interfaces using React</p>
          <p class="education__date">March 2023</p>
        </li>
        <li class="education__item">
          <p class="education__subject">JavaScript, OOP, Async, API, Webpack</p>
          <p class="education__date">January 2023</p>
        </li>
        <li class="education__item">
          <p class="education__subject">JavaScript fundamenals</p>
          <p class="education__date">November 2022</p>
        </li>
        <li class="education__item">
          <p class="education__subject">HTML, CSS, BEM, Responsive layout</p>
          <p class="education__date">September 2022</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Docker, DevOps, CI/CD</p>
          <p class="education__date">May 2022</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Algorithms and data structures</p>
          <p class="education__date">March 2022</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Django REST framework and API</p>
          <p class="education__date">January 2022</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Django, OOP, Unittest</p>
          <p class="education__date">November 2021</p>
        </li>
        <li class="education__item">
          <p class="education__subject">Python and SQL fundamentals</p>
          <p class="education__date">September 2021</p>
        </li>
      </ul>
    </section>

    <section class="section" aria-label="Languages">
      <h2 class="section__title">Languages</h2>
      <ul class="languages">
        <li class="languages__item">English B2 (study)</li>
        <li class="languages__item">Russian native</li>
      </ul>
    </section>
  </header>

  <main class="content">

    <section class="section">
      <h2 class="section__title">Experience in development</h2>
      <p class="section__paragraph">
        In September 2019 with two teammates began development the Flask web application for automating routine work processes.
      </p>
      <p class="section__paragraph">
        After three monthes we released a minimum viable program, that was a great expansion of horizons and a breakthrough in efficiency - until recently, we did something in 20 clicks,
        then just 1-2 clicks or completely without man participation. That time we felt like we were doing some kind of magic :)
      </p>
      <p class="section__paragraph">
        For the project i attracted an experienced developer as a mentor, thanks to him we got acquainted with
         Python, Flask, Redis Queue, PostgreSQL, Git and APIs of third-party services.
      </p>
      <p class="section__paragraph section__paragraph_layout_above-list">
        Until spring 2021, we continued to develop the web application, as a result, business processes were digitized:
      </p>
      <ul class="list">
        <li class="list__item">customer order processing, address processing, tagging, product availability check,</li>
        <li class="list__item">creating a requirement for a supplier based on the balance, expectations, reserve at the supplier,</li>
        <li class="list__item">receiving information about payments through the banking service via API,</li>
        <li class="list__item">automatic notifications to customers via SMS and email services,</li>
        <li class="list__item">notifications in Slack, then in Discord.</li>
      </ul>

      <p class="section__paragraph">
        Now we support the application and fix bugs.
         Since September 2021 I have been devoting more time to training in specialized  programming courses.
      </p>
    </section>

    <section class="section">
      <h2 class="section__title">Can do now</h2>
      <ul class="list">
        <li class="list__item">Django web-application</li>
        <li class="list__item">REST API</li>
        <li class="list__item">Chat bot</li>
        <li class="list__item">Responsive web layout</li>
        <li class="list__item">CI/CD with GitHub Actions or BitBucket Pipelines</li>
      </ul>
      <a class="section__link" href="https://github.com/timurgain" target="_blank">Portfolio on GitHub</a>
    </section>

    <section class="section">
      <h2 class="section__title">Universal skills</h2>
      <p class="section__paragraph">
        I combine development with a management position where I am responsible for
        promotion, sales, an online store, motivation and organization of work processes for employees.
      </p>
      <p class="section__paragraph section__paragraph_layout_above-list">
        This wide area of responsibility
         and education with strict deadlines taught me universal skills:
      </p>
      <ul class="list">
        <li class="list__item">Feeling a lack of knowledge motivates me to learn;</li>
        <li class="list__item">Able to get information in documentation, lectures and communication with people;</li>
        <li class="list__item">Understand how to divide a complex task into a set of simple ones;</li>
        <li class="list__item">Self-discipline helps me complete tasks on time, especially in high workload;</li>
        <li class="list__item">Cope with the flow of various tasks, build priorities, determine resources and deadlines;</li>
        <li class="list__item">Understand the importance of communication and cooperation;</li>
        <li class="list__item">I am prone to critical thinking, ready to new inputs and feedback, it leads to better solutions.</li>
      </ul>
    </section>

  </main>

  <footer class="footer">
    <p class="footer__paragraph">Timur Gainutdinov, web-developer | october 2022, learning continues</p>
  </footer>

</body>
</html>
